* {
  box-sizing: border-box;
  
}

h1 {
  font-family: 'Spectral', serif;
  
}

h2{
  font-family: 'Spectral', serif;
  
}
h3{
  font-family: 'Spectral', serif;
}
p{
  font-family: 'Spectral', serif;
}

.logo-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 600px) {
  .logo-image {
    width: 60%;
    height: 60%;  // Override width to show only one image in a row on smaller screens
  }
}
// .head-text{
//   display: flex;
//   flex-direction: column-reverse;
//   align-items: center;
//   font-family: 'Spectral', serif;
//   font-size: 50px;
// }

.text-on-image{
  font-family: 'Spectral', serif;
  
}
.head-image {
  width: 100%; 
  height: auto;
}

@media (max-width: 600px) {
  .head-image {
    width: 100%; // Override width to show only one image in a row on smaller screens
  }
}

.box {
  max-width: 100%;
  font-family: 'Spectral', serif;
  border-radius: 15px;
  box-shadow: 0 0.5em 1em -0.125em rgba(122, 48, 179, 0.181), 0 0px 0 1px rgba(42, 5, 76, 0.02);
  color: #8b749a;
  
}
.card{
  font-family: 'Spectral', serif;
  background-color: #8b749a;
}

.title.is-2 {
  color: #8b749a;
}

.title.is-1 {
  color: #8b749a;
  display: flex;
  flex-direction: column;

  
}

.title.is-4 {
  color: #8b749a;
}
.title.is-3 {
  color: #8b749a;
}

.subtitle.is-5 {
  color: #8b749a;
}

.flex-header{
  display: flex;
  flex-direction: column;
  // border: solid 1px red;
}

.title.is-1 {
  color: #8b749a;
  display: flex;
  flex-direction: row-reverse;  
}

// .section{
//   border: solid 1px blue;
// }

@import "~bulma/bulma.sass";
